<form action="/songs" method="POST">
  <p>Name: <input type="text" name="name" id="Name"></p>
  <p>Artist: <input type="text" name="artist" id="Artist"></p>
  <input type="submit" value="Create Song">
</form>
